
.navbar-light .navbar-toggler {
  background-color: white;
}
.leftNav{
  font-size:17px;
  text-align: center;
  margin-right: 22px;
}

  .rightHeader{
    float:right;
    margin-right: 25px;
    padding:20px 0 0 20px;
  }
 .right_heading{
    padding: 0px 0 0 30px;
 }
 .title{
   padding-left:10px;
   color: white;
 }


 
